[submodule "Frameworks/Runestone"]
	path = Frameworks/Runestone
	url = https://github.com/nekohasekai/Runestone.git
[submodule "Core/sing-box"]
	path = Core/sing-box
	url = https://github.com/SagerNet/sing-box.git
